<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
<div class="container">
    <header th:insert="common/header.html"></header>
    <div class = "post-content border border-light my-3 p-3 bg-white rounded shadow-sm">
        <h2 th:text="${post.title}"></h2>
        <p th:text="'등록 시간: ' + ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></p>
        <p th:text="'최종 수정 시간: '+ ${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm')}"></p>
        <p th:text="${post.content}"></p>
    </div>
    <div class="row ml-1">
        <form th:action="@{/edit/{postId}(postId=${post.id})}" th:method = "get">
            <button class="btn btn-dark" type="submit">수정</button>
        </form>
        <form th:action="@{/posts/{postId}(postId=${post.id})}" th:method = "delete">
            <input type="hidden" name="_method" value="delete"></input>
            <button class="btn btn-danger" type="submit">삭제</button>
        </form>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm" style="padding-top: 10px">
        <form th:action="@{/{postId}/comment(postId=${post.id})}" method="post">
            <div class="form-group row">
                <div class="col-sm-10">
                    <textarea style="resize: none;" type="text" class="form-control" name="content" rows="4" placeholder="댓글을 입력해 주세요"></textarea>
                </div>
                <div class="col-sm-2">
                    <label for="writer"><strong>작성자</strong></label>
                    <input type="text" class="form-control" name="writer" id="writer"></input>
                    <button type="submit" class="btn btn-sm btn-dark" style="width: 100%; margin-top: 10px">등록</button>
                </div>
            </div>
        </form>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="border-bottom" th:each="comment, i: ${comments}">
            <b th:text = "${comment.writer}"></b>
            <p th:text = "${comment.content}"></p>
        </div>
    </div>

</div>
<footer th:insert="common/footer.html"></footer>
</body>
</html>